<!-- views/pages/sange.ejs -->
<% include ../partials/header %>    

    <h1><%= title %></h1>
    <p><%= content %></p>

    <ul class="list">
    <% songlist.forEach(function(song) { %>
        <li><a href="/details/<%= song.id %>"><%= song.title %></a> - <%= song.artist_name %></li>
    <% }); %> 
    </ul>

<% include ../partials/footer %>